
.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    
    
}

    

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("bg2.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
    /* min-height: 80vh; */
    background-size: cover;
    /* background-position-y: 25%; */

}

/* .main {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} */

.footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
   
    
}


.form {
    padding-right: 45px;

}